fastapi
uvicorn[standard]
psycopg2-binary
SQLAlchemy
pydantic
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
opencv-python-headless
tensorflow
scikit-learn
requests
pandas
python-dotenv
pillow
google-genai
apify-client
supabase
